* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: "Montserrat", sans-serif;
}


@media (min-width: 992px) {
    nav {
        flex-wrap: nowrap;
        justify-content: flex-start;
    }

    .container {
        max-width: 960px;
    }

    .nav-div {
        display: flex !important;
        flex-basis: auto;
    }

    .nav-ul {
        flex-direction: row;
    }
}

@media(max-width:992px) {
    .nav-div {
        display: none;
    }
}

@media (max-width: 768px) {
    nav {
        padding: 18px 0px;
        background-color: white;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}